In [2]:
import pandas as pd

titanic = pd.read_csv('Titanic Dataset.csv')

# Quick check
print(titanic.shape)    # (rows, columns)
print(titanic.head())   # First few rows

(1309, 14)
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

    age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0    29      0      0   24160  211.3375       B5        S    2    NaN
1  0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2     2      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3    30      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4    25      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [3]:
# Get one column (returns a Series - like a single column)
names = titanic['name']
print(names.head())  # Gives you first five records/rows of names

0                      Allen, Miss. Elisabeth Walton
1                     Allison, Master. Hudson Trevor
2                       Allison, Miss. Helen Loraine
3               Allison, Mr. Hudson Joshua Creighton
4    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Name: name, dtype: object

In [4]:
# Select multiple columns (returns a DataFrame)
subset = titanic[['name', 'age', 'sex', 'survived']]
print(subset.head())

# Note the double brackets: [[ ]]
# Outer brackets = "select from titanic"
# Inner brackets = list of columns

                                              name   age     sex  survived
0                    Allen, Miss. Elisabeth Walton    29  female         1
1                   Allison, Master. Hudson Trevor  0.92    male         1
2                     Allison, Miss. Helen Loraine     2  female         0
3             Allison, Mr. Hudson Joshua Creighton    30    male         0
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)    25  female         0

In [5]:
# Just passenger info
passenger_info = titanic[['name', 'sex', 'age']]

# Just survival data
survival_data = titanic[['name', 'survived', 'pclass']]

# You can then work with these smaller DataFrames
print(passenger_info.info())
print(survival_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1309 non-null   object
 1   sex     1309 non-null   object
 2   age     1047 non-null   object
dtypes: object(3)
memory usage: 30.8+ KB
None
          survived       pclass
count  1309.000000  1309.000000
mean      0.381971     2.294882
std       0.486055     0.837836
min       0.000000     1.000000
25%       0.000000     2.000000
50%       0.000000     3.000000
75%       1.000000     3.000000
max       1.000000     3.000000

In [6]:
# Create a condition (True/False for each row)
survived_condition = titanic['survived'] == 1

# Use condition to filter
survivors = titanic[survived_condition]

# Or combine in one line
survivors = titanic[titanic['survived'] == 1]

print(f"Total passengers: {len(titanic)}")
print(f"Survivors: {len(survivors)}")

Total passengers: 1309
Survivors: 500

In [7]:
# this should convert the column to numeric, turning non-numeric values into NaN
titanic['age'] = pd.to_numeric(titanic['age'], errors='coerce')

In [8]:
# Step 1: Create a True/False mask
mask = titanic['age'] > 30
print(mask.head())  # Shows True, False, True, False, etc.

# Step 2: Use mask to filter
older_passengers = titanic[mask]

# The DataFrame keeps only rows where mask is True
print(older_passengers[['name', 'age']].head())

0    False
1    False
2    False
3    False
4    False
Name: age, dtype: bool
                                            name   age
5                            Anderson, Mr. Harry  48.0
6              Andrews, Miss. Kornelia Theodosia  63.0
7                         Andrews, Mr. Thomas Jr  39.0
8  Appleton, Mrs. Edward Dale (Charlotte Lamson)  53.0
9                        Artagaveytia, Mr. Ramon  71.0

In [9]:
# Step 1: Create a True/False mask
mask = titanic['age'] > 30
print(mask.head())  # Shows True, False, True, False, etc.

# Step 2: Use mask to filter
older_passengers = titanic[mask]

# The DataFrame keeps only rows where mask is True
print(older_passengers[['name', 'age']].head())

0    False
1    False
2    False
3    False
4    False
Name: age, dtype: bool
                                            name   age
5                            Anderson, Mr. Harry  48.0
6              Andrews, Miss. Kornelia Theodosia  63.0
7                         Andrews, Mr. Thomas Jr  39.0
8  Appleton, Mrs. Edward Dale (Charlotte Lamson)  53.0
9                        Artagaveytia, Mr. Ramon  71.0

In [10]:
# First class passengers
first_class = titanic[titanic['pclass'] == 1]

# Female passengers
females = titanic[titanic['sex'] == 'female']

# Children (age 12 or under)
children = titanic[titanic['age'] <= 12]

# Passengers who paid more than $50
expensive_tickets = titanic[titanic['fare'] > 50]

# For each filter, you can check how many rows matched
print(f"First class passengers: {len(first_class)}")
print(f"Female passengers: {len(females)}")

First class passengers: 323
Female passengers: 466